.card {
    display: flex;
    margin : 30px auto;
    gap: 30px;
    justify-content: center;
}

.card img {
    width : 150px;
    margin-right : 20px;
}

form {
    padding: 10px;
}

.nav {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.nav a {
    margin-right: 10px;
    text-decoration : none;
    font-weight : 400;
}

.nav .logo {
    font-weight : 400;
}

input{
    padding : 4px 8px;
    border : 1px solid grey;
    vertical-align : middle;
    border-radius : 4px;
}

button {
    background : black;
    color : white;
    border : none;
    padding: 6px 24px;
    border-radius : 4px;
}
input {
    display : block;
}

.detail {
    text-align : center;
}
.detail img{
    max-width : 30%;
    display : block;
    margin : auto;
}

.paging {
    display: flex;
}

.pagings{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;

}

.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 10px;
    gap: 7px;
}