<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div th:replace="~{nav.html :: navbar}"></div>
  <div class="detail" th:each="i : ${item}">
    <h4 th:text="${i.id}"></h4>
    <h4 th:text="${i.title}"></h4>
    <h4 th:text="${i.price}"></h4>
    <img th:src="${i.image}" alt="img" />
  </div>
  <form action="/add-comment" method="POST">
      <input name="content">
      <input name="parentId" th:value="${item.id}" type="hidden">
      <button type="submit">댓글 달기</button>
  </form>
  <div >
      <div class="comment" th:each="c : ${comments}">
          <span th:text="${c.username}"></span>
          <span th:text="${c.content}"></span>
      </div>
  </div>
</body>
</html>